<div class="container-fluid">
  <div class="banner">
    <%= image_tag("banner.jpg", alt: "Banner") %>
  </div>
</div>

<div class="container mt-2 mb-5">
  <p class="text-success"><%= notice %></p>

  <h1 class="mb-5"><%= @restaurant.name %></h1>

  <div id="restaurants" class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <%= render @restaurant %>

          <ul>
            <% @restaurant.reviews.each do |review| %>
              <li>
                <%= review.content %>
                <%= link_to 'Remove', review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'%>
              </li>
            <% end %>
          </ul>

          <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary mt-3" %>
          <%= button_to "Destroy this restaurant", @restaurant, method: :delete, class: "btn btn-danger mt-3" %>
          <%#= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary mt-3' %>
        </div>
      </div>
    </div>
  </div>
</div>
